@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BevoBnB</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet" 
          integrity="sha-long-hash_code" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav-content">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                    </li>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Properties
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Properties" asp-action="Index">Properties</a>
                                <a class="dropdown-item" asp-controller="Properties" asp-action="Unapproved">Unapproved Properties</a>
                                <a class="dropdown-item" asp-controller="Properties" asp-action="Inactive">Inactive Properties</a>
                            </div>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Host"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Properties
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Properties" asp-action="Index">Properties</a>
                                <a class="dropdown-item" asp-controller="Properties" asp-action="MyProperties">My Properties</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a asp-controller="Properties" asp-action="Index" class="nav-link">Properties</a>
                        </li>
                    }
                    
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Customer"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Reservations
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Reservations" asp-action="Index">Reservation History</a>
                                    <a class="dropdown-item" asp-controller="Reservations" asp-action="TransactionHistory">Transaction History</a>
                                    <a class="dropdown-item" asp-controller="Reservations" asp-action="ShoppingCart">Shopping Cart</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("Host"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Reservations
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Reservations" asp-action="Index">Reservation History</a>
                                    <a class="dropdown-item" asp-controller="Reservations" asp-action="TransactionHistory">Transaction History</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Reservations
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Reservations" asp-action="Index">Reservation History</a>
                                    <a class="dropdown-item" asp-controller="Reservations" asp-action="TransactionHistory">Transaction History</a>
                                    <hr/>
                                    <a class="dropdown-item" asp-controller="Properties" asp-action="Index">Search for Customer</a>
                                    <a class="dropdown-item" asp-controller="Reservations" asp-action="SelectCustomerShoppingCart">Admin Shopping Cart</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Categories
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Categories" asp-action="Index">View Categories</a>
                                    <a class="dropdown-item" asp-controller="Categories" asp-action="Create">Create Category</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    User Management
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Profiles">Manage Profiles</a>
                                    <a class="dropdown-item" asp-controller="RoleAdmin" asp-action="Index">Manage Roles</a>
                                    <hr />
                                    <a class="dropdown-item" asp-controller="Account" asp-action="Register">Create Admin</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Reports
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Reports" asp-action="Create">Generate Report</a>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Admin"))
                {
                    <span class="badge bg-danger">Admin View</span>
                }
            }
            @await Html.PartialAsync("_LoginPartial")
        </nav>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/popper.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</body>
</html>
