@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BevoBnB</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet" 
          integrity="sha-long-hash_code" crossorigin="anonymous" />
</head>
<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav-content">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Properties" asp-action="Index" class="nav-link">Properties</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Customer"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Reservations
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Reservations" asp-action="Index">Reservation History</a>
                                    <a class="dropdown-item" asp-controller="Reservations" asp-action="ShoppingCart">Shopping Cart</a>
                                    <a class="dropdown-item" asp-controller="Reservations" asp-action="SelectCustomerForRegistration"></a>
                                    <a class="dropdown-item" asp-controller="Reservations" asp-action="SelectCustomerForRegistration">Admin Reservation</a>
                                </div>
                            </li>
                        }
                        @if (User.IsInRole("Host"))
                        {
                            <li class="nav-item">
                                <a asp-controller="Reservations" asp-action="Index" class="nav-link">Reservations</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    Reservations
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Reservations" asp-action="Index">Reservation History</a>
                                    <a class="dropdown-item" asp-controller="Reservations" asp-action="ShoppingCart">Shopping Cart</a>
                                    <hr/>
                                    <a class="dropdown-item" asp-controller="Reservations" asp-action="SelectCustomerForRegistration">Admin Reservation</a>
                                </div>
                            </li>
                            <li>
                                <a asp-controller="RoleAdmin" asp-action="Index" class="nav-link">Manage Users</a>
                            </li>
                        }
                    }
                </ul>
            </div>
            @await Html.PartialAsync("_LoginPartial")
        </nav>
    </div>

    <div class="container">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/popper.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

</body>
</html>